.custom-button {
    min-width: 165px;
    width: auto;
    height: 42px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 14px;
    background-color:  #8ebfe7;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #007bff;
        color: white;
        border: 1px solid #007bff;
    }

   
}

.google-btn {
    width: 220px;
    height: 42px;
    background-color: #4285f4 ;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    cursor: pointer;
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669F2;
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 42px;
    height: 42px;
    border-radius: 2px;
    background-color: white;
}

.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 5px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    padding-left: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
}